/* EDIT BELOW THIS LINE */

/* Add styles for section-1 */
.section-1 {
    flex-flow: row nowrap;
    height: 200px;
}

.section-1 .flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 > .flex-item:nth-child(even) {
    flex-grow: 1;
}

.section-1 > .flex-item:nth-child(odd) {
    flex-grow: 2;
}

/* Add styles for section-2 */
.section-2 {
    flex-direction: column-reverse;
    justify-content: center;
}

.section-2 > .flex-item:first-child {
    align-self: flex-start;
    width: 50%;
    flex-grow: 1;
}

.section-2 > .flex-item:last-child {
    align-self: flex-end;
    width: 50%;
    flex-grow: 1;
}

/* Add styles for section-3 */
.section-3 {
    flex-flow: column wrap;
    /* align-content: stretch; */
}

.section-3 .flex-item {
    flex-basis: 50%;
}

.section-3 > .flex-item:first-child {
    flex-basis: 100%;
}

.section-3 > .flex-item:last-child {
    flex-basis: 100%;
}

/* Add styles for section-4 */
.section-4 {
    justify-content: space-between;
    align-items: center;
}

.section-4 .flex-item {
    height: 60px;
    width: 100px;
}

/* Add styles for section-5 */
.section-5 {
    flex-flow: column-reverse wrap-reverse;
    justify-content: center;
    align-items: center;
}

.section-5 > .green:first-child {
    order: 1;
}

/* Add styles for section-6 */
.section-6 {
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

/* Add styles for section-7 */
 .section-7 {
    flex-flow: column wrap-reverse;
    justify-content: center;
    align-content: space-between;
} 

.section-7 > .cartoon:not(.carebear-pink) {
    flex-basis: 25%;
}

.section-7 > .carebear-pink {
    order: 5;
    flex-basis: 20%;
}

.section-7 > .carebear-red {
    order: 1;
}

.section-7 > .carebear-green {
    order: 2;
}

.section-7 > .carebear-blue {
    order: 3;
}

.section-7 > .carebear-yellow {
    order: 4;
}

/* Add styles for section-8 */
.section-8 {
    flex-flow: column-reverse wrap;
}

.section-8 .flex-item:first-child{
    flex-basis: 100%;
}

.section-8 .flex-item {
    flex-grow: 1;
}
