@import "variables.less";

// EDIT HERE BELOW

body {
  display: grid;
  grid-template-columns: @leftAsideMenuWidth auto @rightAsideMenuWidth;
}

nav {
  background-color: @aquaMarine;
}

footer {
  display: grid;
  grid-template-columns: auto auto;
  background-color: @aquaMarine;
}

#left-aside {
  background-color: @queenPink;
  text-align: center;
  font-size: @leftAsideFontSize;
}

#right-aside {
  background-color: @queenPink;
  text-align: center;
  color: white;
}

#right-aside p {
  text-align: initial;
}

#main-section {
  display: grid;
  grid-template-rows: repeat(6, auto);
}

#hero {
  display: grid;
  grid-template-columns: 30% 70%;
}

#hero img {
  margin: auto;
  width: @heroImageWidth;
}

#hero p {
  align-content: center;
  margin-block-start: auto;
  margin-block-end: auto;
}

#banner {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: @lightAzure;
}

#banner img {
  margin: auto;
  width: @bannerImageWidth;
}

#banner p {
  text-align: center;
  color: white;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.items img {
  width: @listItemImageWidth;
}

.items li:nth-child(1){
  display: grid;
  grid-template-columns: 40% 60%;
  margin: auto;
  background-color: @azureishWhite;
}

.items li:nth-child(2){
  display: grid;
  grid-template-columns: 40% 60%;
  margin: auto;
}

.items li:nth-child(3){
  display: grid;
  grid-template-columns: 40% 60%;
  margin: auto;
  background-color: @azureishWhite;
}

.items li:nth-child(4){
  background-color: @azureishWhite;
  grid-column-end: span 3;
}

.icon-container {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}


