/* CSS styles */
body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* Login */
#login-window {
  display: flex;
  flex-direction: column;
  /* border: solid 2px;
  margin: 120px;
  height: 350px;
  width: 700px; */
}

#login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  border-bottom: solid 2px;
  background-color: #5abcf8;
}

#login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  height: 85%;
}

#login-form {
  width: 80%;
}

#login-form button {
  margin-top: 20px;
  width: 100%;
}

/* Lobby */
#lobby {
  display: flex;
  flex-direction: column;
  border: solid 2px;
  margin-top: 50px;
  width: 1050px;
  height: 650px;
}

#lobby-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px;
  height: 10%;
  background-color: #5abcf8;
}

#lobby-body {
  display: flex;
  flex-direction: row;
  height: 90%;
}

#lobby-btn-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

#lobby-btn-div .btn-success {
  height: 100px;
}

#lobby-modal .modal-body input {
  margin-bottom: 20px;
}

#room-view {
  display: flex;
  width: 60%;
  flex-direction: column;
  overflow: scroll;
  padding: 10px 10px 10px 20px;
}

.room-view-item {
  border: solid;
  border-width: thin;
  border-radius: 20px;
  margin: 15px;
  padding: 20px;
  background-color: #5abcf8;
}

.room-view-item p {
  font-size: 12px;
}

#lobby-users-list {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  border-left: solid;
  border-width: thin;
  margin: 30px 0px;
  overflow: scroll;
}

#lobby-users-list a {
  margin: 5px 0px;
  color: #030303;
  font-size: 16px;
}

#lobby-users {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Chat */
#chatroom {
  display: flex;
  margin-top: 50px;
  width: 1250px;
  height: 650px;
}

#buttons-list {
  display: flex;
  flex-direction: column;
  width: 200px;
}

#buttons-list .btn {
  height: 60px;
}

#buttons-list .btn-danger {
  margin: 90px 0px 30px 0px;
}

#buttons-list .btn-success {
  margin: 10px 0px;
}

#ops-ban-list-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  text-align: center;
}

#ops-list {
  border: solid 2px;
  width: 100%;
  margin-top: 80px;
}

#ops-list div {
  padding-top: 10px;
  height: 250px;
  overflow: scroll;
}

#ops-list div div {
  padding-top: 0px;
  height: 70px;
}

#ops-list div h6 {
  border-bottom: solid;
  border-width: thin;
  padding-bottom: 5px;
  margin: 0px 0px 5px 0px;
}

#ops-list p {
  margin-bottom: 5px;
}

#ban-list {
  border: solid 2px;
  width: 100%;
  margin-top: 40px;
}

#ban-list div {
  padding-top: 10px;
  height: 250px;
  overflow: scroll;
}

#ban-list div h6 {
  border-bottom: solid;
  border-width: thin;
  padding-bottom: 5px;
  margin: 0px 0px 5px 0px;
}

#ban-list div div {
  padding-top: 0px;
  height: 70px;
}

#ban-list p {
  margin-bottom: 5px;
}

.group-chat-window {
  display: flex;
  flex-direction: column;
  border: solid 2px;
  margin: 0px 20px;
  width: 950px;
  height: 650px;
}

#private-chatroom {
  width: 1250px;
  height: 650px;
  display: flex;
  margin-top: 50px;
}

.private-chat-window {
  display: flex;
  flex-direction: column;
  border: solid 2px;
  width: 950px;
  height: 650px;
}

#leave-private-chatroom-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

#leave-private-chatroom-btn .btn {
  height: 60px;
}

.chat-window-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px;
  background-color: #5abcf8;
  padding-top: 15px;
  height: 10%;
}

.chat-window-body {
  display: flex;
  flex-direction: row;
  height: 90%;
}

.chat-window-msg-inp {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.chat-window-messages {
  display: flex;
  height: 90%;
  margin: 20px 30px 0px 40px;
  overflow: scroll;
}

.chat-window-message-cont {
  width: 85%;
}

.message {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px 10px;
  min-height: 70px;
  background-color: #5abcf8;
}

.chat-window-input {
  display: flex;
  flex-direction: row;
  height: 10%;
}

.chat-window-input input {
  width: 85%;
  padding-left: 10px;
}

.chat-window-input button {
  width: 15%;
}

.chat-window-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-left: solid;
  border-width: thin;
  margin: 20px 0px 80px 0px;
  overflow: scroll;
  width: 20%;
}

.user {
  margin-bottom: 10px;
}

.user p {
  margin-bottom: 5px;
}

.user .btn {
  margin: 2px;
}

.private-chat-window-msg-inp {
  display: flex;
  flex-direction: column;
  width: 100%;
}